.card {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Styling Emoji */
.reviewsHeader {
    text-align: center;
    padding-top: 50px;
}

.starStruckEmoji {
    font-size: 100px;
    display: block;
    margin: 0 auto;
    transform: translateY(50px);
    z-index: 10;
    position: relative;
}

.sectionTitle {
    font-size: 36px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Styling Carousel Container */
.reviewCarouselContainer {
    width: 100%;
    margin-top: 80px;
    padding: 0 20px 30px 20px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 30px;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #f7f7f7;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.reviewCarouselContainer::-webkit-scrollbar {
    display: none;
}

/* Tata Letak Kartu  */
.reviewCardWrapper {
    flex: 0 0 calc(25% - 22.5px);
    min-width: 300px;
    scroll-snap-align: start;

}

/* Responsive */
@media (max-width: 1024px) {
    .reviewCardWrapper {
        flex: 0 0 calc(90% - 15px);
    }
}

@media (max-width: 768px) {
    .reviewCardWrapper {
        flex: 0 0 calc(90% - 15px);
    }

    .reviewCarouselContainer {
        padding: 0 15px 30px 15px;
        gap: 20px;
    }

    .starStruckEmoji {
        font-size: 80px;
        transform: translateY(40px);
    }
}

@media (max-width: 480px) {
    .reviewCardWrapper {
        flex: 0 0 calc(100% - 20px);
    }

    .reviewCarouselContainer {
        padding: 0 10px 30px 10px;
        gap: 15px;
    }

    .starStruckEmoji {
        font-size: 60px;
        transform: translateY(30px);
    }
}