/* frontend/app/about/AboutPage.module.css */

.aboutPageContainer {
    max-width: 1400px;
    margin: 0 auto;
}

/*  Who We Are Section */
.whoWeAreSection {
    display: flex;
    padding: 60px 80px;
    gap: 50px;
    align-items: flex-start;
}

.contentLeft {
    flex: 1;
}

.sectionTitle {
    font-size: 36px;
    font-weight: 800;
    color: #333;
    margin-bottom: 20px;
}

.textBlock {
    font-size: 16px;
    line-height: 1.7;
    color: #555;
    margin-bottom: 15px;
}

.imageRight {
    flex: 1;
}

.imageRight img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}


/* Testimonials Section */
.testimonialsSection {
    /* GRADASI BOX PEACH KE PINK */
    background: linear-gradient(180deg, #FFE8D2 0%, #FFD6E7 100%);
    padding: 80px 80px 60px 80px;
    text-align: center;
}

.testimonialHeader {
    margin-bottom: 40px;
}

.emoji {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
}

.testimonialTitle {
    font-size: 32px;
    font-weight: 800;
    color: #333;
}

.loveHighlight {
    color: #ec5a81;
    /* Warna pink dari desain */
}

.testimonialGrid {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 30px;
}

.sliderDots {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    background-color: #ddd;
    border-radius: 50%;
}

.dotActive {
    width: 8px;
    height: 8px;
    background-color: #ec5a81;
    /* Pink aktif */
    border-radius: 50%;
}